@model Taller.Models.Proveedores

<h2>Nuevo Proveedor</h2>
<!-- Mostrar errores generales -->
@if (TempData["MensajeError"] != null)
{
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        Swal.fire({
            icon: 'error',
            title: 'Error',
            text: '@TempData["MensajeError"]'
        });
    </script>
}

<form asp-action="Crear" method="post">
    @Html.AntiForgeryToken()
    <div class="mb-3">
        <label asp-for="Nombre" class="form-label"></label>
        <input asp-for="Nombre" class="form-control" required />
        <span asp-validation-for="Nombre" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Cedula" class="form-label"></label>
        <input asp-for="Cedula" class="form-control" required />
        <span asp-validation-for="Cedula" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Telefono" class="form-label"></label>
        <input asp-for="Telefono" class="form-control" required />
        <span asp-validation-for="Telefono" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Correo" class="form-label"></label>
        <input asp-for="Correo" type="email" class="form-control" required />
        <span asp-validation-for="Correo" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Direccion" class="form-label"></label>
        <input asp-for="Direccion" class="form-control" required />
        <span asp-validation-for="Direccion" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Guardar</button>
    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
